{% extends 'librarymanage/base.html' %}

{% block title %}Search books{% endblock %}

{% block content %}
<h1>searching a book or an author:</h1>
<form method="GET" action="/search/">
    <input type="text" name="q" placeholder="Enter book title or author name" value="{{query}}" >
    <button type="submit">Find</button>
</form>

{% if query %}
    <h2>Search results for "{{query}}"</h2>
    {% if books%}
        <ul>
            {% for book in books %}
                <li>{{book.title}}} by {{book.author.name}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif%}
{% endif%}
{% endblock %}

